<%- include('./partials/head') %>
    <!-- Navbar section -->
    <%- include('./partials/header') %>
        <!-- This is left sidebar  -->
        <%- include('./partials/left-side-bar') %>

            <!-- This is right side section -->
            <main class="main" id="mainContent">
                <div class="main-content">
                    <div class="row">
                        <!-- Book Publications -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                            <a href="/book-publication"
                                class="card_school_vf text-center  d-flex flex-column justify-content-center align-items-center">
                                <img src="/image/publication.png" alt="Book Publications" height="55" />
                                <p>Book Publications</p>
                            </a>
                        </div>
                        <!-- Edited Book Publications -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                            <a href="/edited-book-publication"
                                class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center">
                                <img src="/image/edited.png" alt="Edited Book Publications " height="55" />
                                <p> Edited Book Publications </p>
                            </a>
                        </div>
                        <!-- Book Chapter Publications -->
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                            <a href="/book-chapter-publication"
                                class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                                <img src="/image/chapter.png" alt="Book Chapter Publications" height="55" />
                                <p>Book Chapter Publications</p>
                            </a>
                        </div>
                    </div>
            </main>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="../js/script.js"></script>
            </body>

            </html>