<%- include('./partials/head') %>
<title>chronicle edition</title>
<style>
    .custom-background{
        background-color: #c2dce7;
    }
    .list-item {
    list-style-type: disc;
  }
</style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 chronicle-body text-center pt-3 custom-background">
                <img class="img-fluid" src="<%- BASE_URL %>image/nmims.png" alt="nmims image">
                <div class="pt-5">
                    <!-- <div class="text-start fw-semibold fs-2">To center an image, set left and right margin to auto and make it into a block element:</div>
                    <div class="text-start">ankit Mishra</div>
                    <div class="text-start">ankit Mishra</div>
                    <div class="text-start">ankit Mishra</div> -->
                    <ul>
                        <% dataContainerArray.forEach((data, index) => { %>
                          <% const heading = headingContainer[index] || ''; %>
                          <% if (heading) { %>
                            <li>
                              <p class="text-start fw-bold fs-5"><%= heading %></p>
                            </li>
                          <% } %>
                          <% for (const key in data) { %>
                            <li class="text-start">
                              <ul>
                                <% data[key].forEach(item => { %>
                                  <li class="text-start list-item"><%= item %></li>
                                <% }); %>
                              </ul>
                            </li>
                          <% } %>
                        <% }); %>
                      </ul>
                      
                      
                      
                </div>
            </div>
        </div>
    </div>    
</body>
</html>