<%- include('./partials/head') %>
<title>chronicle edition</title>
<style>
    .custom-background{
        background-color: #55a4c7;
    }
</style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 chronicle-body text-center pt-3 custom-background">
                <img class="img-fluid" src="<%- BASE_URL %>image/nmims.png" alt="nmims image">
                <div class="pt-5">
                    <div class="text-start fw-semibold fs-2">To center an image, set left and right margin to auto and make it into a block element:</div>
                    <div class="text-start">ankit Mishra</div>
                    <div class="text-start">ankit Mishra</div>
                    <div class="text-start">ankit Mishra</div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>