
<aside class="left-sidebar " id="leftSideBar">
    <div class="left-sidebar-logo">
        <a href="#">
            <img src="/image/logo-nmims.png" class="nmims-logo" />
        </a>
        <!-- This is left sidebar content -->
    </div>
    <ul class="offset-list offcanvas-body p-0 sidebar-body" id="left-sidebar-accordion">
        <a href="/dashboard" class="offset-list-item-link ">
            <li class="active-sidebar">
                <img src="/image/dashboard.png" class="ps-3 pe-2 sidebar-icon"> Dashboard
            </li>
        </a>
        <!-- research -->
        <li data-toggle="collapse" data-target="#collapse" aria-expanded="true">
            <a class="offset-list-item-link">
                <img src="/image/Research.png" class="ps-3 pe-2 sidebar-icon">Research
            </a>
            <div class="collapse" id="collapse">
                <ul class="nav flex-column ml-2">
                    <a class="offset-list-item-link" href="/research-journal">
                        <li class="nav-item">
                            <img src="/image/Research.png" class="ps-3 pe-2 icon">
                            Research Journal Paper
                        </li>
                    </a>
                    <a class="offset-list-item-link" href="/book-publication-main">
                        <li class="nav-item">
                            <img src="/image/book-publication.png" class="ps-3 pe-2 icon">
                            Book Publications
                        </li>
                    </a>


                    <a class="offset-list-item-link" href="/research/conference-publication">
                        <li class="nav-item">
                            <img src="/image/conference.png" class="ps-3 pe-2 icon">
                            Conference Publications
                        </li>
                    </a>


                    <a class="offset-list-item-link" href="/research/patent-submission">
                        <li class="nav-item">
                            <img src="/image/submission-grant.png" class="ps-3 pe-2 icon">
                            Patent Submissions and Grant
                        </li>
                    </a>

                    <a class="offset-list-item-link" href="/reseach/research-project">
                        <li class="nav-item">
                            <img src="/image/consultancy.png" class="ps-3 pe-2 icon">
                            Research Project, Consultancy
                        </li>
                    </a>

                    <a class="offset-list-item-link" href="/research/research-seminar">
                        <li class="nav-item">
                            <img src="/image/meeting.png" class="ps-3 pe-2 icon">
                            Research Seminars at NMIMS
                        </li>
                    </a>


                    

                    <a class="offset-list-item-link" href="/researhc/case-study">
                        <li class="nav-item">
                            <img src="/image/study.png" class="ps-3 pe-2 icon">
                            Case Study
                        </li>
                    </a>

                </ul>
            </div>
        </li>


        <a href="/teaching-excellance" class="offset-list-item-link">
            <li>
                <img src="/image/excellence.png" class="ps-3 pe-2 img-fluid">Teaching Excellence
            </li>
        </a>
        <a href="/meeting-stackholders" class="offset-list-item-link">
            <li><img src="/image/meeting.png" class="ps-3 pe-2 sidebar-icon"> Meeting Stakeholders</li>
        </a>
        <a href="../html/branding-advertising.html" class="offset-list-item-link">
            <li><img src="/image/advertising.png" class="ps-3 pe-2 sidebar-icon">
                Branding & Advertising
            </li>
        </a>
        <a href="#" class="offset-list-item-link">
            <li><img src="/image/incentive.png" class="ps-3 pe-2 sidebar-icon"> Research Incentive page
            </li>
        </a>
        <a href="#" class="offset-list-item-link">
            <li><img src="/image/edition.png" class="ps-3 pe-2 sidebar-icon">
                Chronicle Edition
            </li>
        </a>
        <a href="#" class="offset-list-item-link">
            <li><img src="/image/policy.png" class="ps-3 pe-2 sidebar-icon">
                SBM Incentive Policy
            </li>
        </a>
        <a href="#" class="offset-list-item-link">
            <li><img src="/image/school.png" class="ps-3 pe-2 sidebar-icon">
                Other School Incentive Policy
            </li>
        </a>
        <a href="../html/SampleAnalysis.html" class="offset-list-item-link">
            <li><img src="/image/analysis.png" class="ps-3 pe-2 sidebar-icon">Sample Analysis
            </li>
        </a>
        <a href="../html/SampleAnalysis.html" class="offset-list-item-link">
            <li><img src="/image/logout.png" class="ps-3 pe-2 sidebar-icon">Logout</li>
        </a>
    </ul>
</aside>

